* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: SFProDisplay;
}

@font-face {
  font-family: SFProDisplay;
  src: url('./utils/cssFonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

@font-face {
  font-family: SFProDisplay bold;
  font-weight: bold;
  src: url('./utils/cssFonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}
